<div class="main-container login-layout" ng-controller="LoginCtrl">
    <div class="main-content">
        <div class="red" ng-show="loginError" ng-bind="loginMsg"></div>
        <form name="loginForm" ng-submit="submitLoginForm();">
            <fieldset>
                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        <input type="text" class="form-control" name="userName"
                               placeholder="userName" ng-model="login.userName"
                               ng-required="true"/>
                        <i class="icon-user"></i>
                    </span>
                </label>

                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        <input type="password" class="form-control" name="password"
                               placeholder="Password" ng-model="login.loginPassword"
                               ng-required="true"/>
                        <i class="icon-lock"></i>
                    </span>
                </label>

                <div class="clearfix">
                    <label class="inline">
                        <input type="checkbox" class="ace"/>
                        <span class="lbl"> Remember Me</span>
                    </label>

                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary"
                            ng-disabled="loginForm.$invalid" ng-bind="btnLoading">
                        <i class="icon-key"></i>
                    </button>
                </div>
                <div class="space-4"></div>
            </fieldset>
        </form>
    </div>
</div><!-- /.main-container -->

<script type="text/javascript">
    function show_box(id) {
        jQuery('.widget-box.visible').removeClass('visible');
        jQuery('#' + id).addClass('visible');
    }
</script>