<!--<div class="bg-light lter b-b wrapper-md">--><!--<h1 class="m-n font-thin h3">Datatable</h1>--><!--</div>-->
<div class="wrapper-md" ng-controller="userCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            用户列表
        </div>
        <nav class="navbar navbar-default">
            <form class="navbar-form ">
                <div class="form-group">
                    <!--search-->
                    <input type="text" ng-model="search" class="form-control" placeholder="Search" title=""/>
                </div>
            </form>
        </nav>
        <div class="table-responsive">
            <table ui-jq="dataTable" class="table table-striped table-hover table-bordered m-b-none">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>手机号码</th>
                    <th>邮箱</th>
                    <th>QQ</th>
                    <th>权限</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='user in userList | filter: search'>
                    <td>{{$index+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.sex}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.qq}}</td>
                    <td>{{user.permission}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>